# Binary folders
bin/
build/
target/
vendor/
node_modules/
external-chaincode/
builders/
config/

# Ignore package locks
package-lock.json

# Editor backup/artifact files
*~
*#
.#*
.*.sw*
.DS_Store
.project
.vscode/
.idea/
.gradle/
.classpath
.settings

# Allow config from specific path
!full-stack-asset-transfer-guide/infrastructure/sample-network/config
